.marquee {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: inherit;
  span {
    white-space: nowrap;
    width: auto;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
  }
}
.infinite {
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.finite {
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.carousel {
  position: absolute;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-name: carousel;
  -webkit-animation-name: carousel;
  animation-name: carousel;
}
@-moz-keyframes carousel {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes carousel {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes carousel {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.bounce {
  position: absolute;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-name: bounce;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-delay: 1s;
}
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateX(0);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes bounce {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
